.carousel-container {
      width: 500px;
      height: 375px;/*375*/
      position: relative;
      margin: 0 auto 40px;
      -webkit-perspective: 1100px;
         -moz-perspective: 1100px;
          -ms-perspective: 1100px;
           -o-perspective: 1100px;
              perspective: 1100px;
    }

    #carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: translateZ( -328px );
         -moz-transform: translateZ( -328px );
          -ms-transform: translateZ( -328px );
           -o-transform: translateZ( -328px );
              transform: translateZ( -328px );
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
          -ms-transition: transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
    }

    #carousel figure {
      display: block;
      position: absolute;
      width: 476px;
      height: 351px;
      left: 10px;
      top: 10px;
      border: 2px solid black;
      line-height: 20px;
      background: #333333;
      color: white;
      font-family: "Helvetica Neue";
      text-shadow: none;
      background-size: 100%;

    }

    #carousel figure p {
      top:20px;
      position: relative;
      margin: 10px;
      text-align: justify;
    }

    #carousel figure p span {
      font-size: 28px;
      font-weight: bold;
      margin-right: 10px;
      text-align: left;
    }

    #carousel figure:nth-child(1) {
      -webkit-transform: rotateY(   0deg ) translateZ( 328px );
         -moz-transform: rotateY(   0deg ) translateZ( 328px );
          -ms-transform: rotateY(   0deg ) translateZ( 328px );
           -o-transform: rotateY(   0deg ) translateZ( 328px );
              transform: rotateY(   0deg ) translateZ( 328px );
    }
    #carousel figure:nth-child(2) {
      -webkit-transform: rotateY(  72deg ) translateZ( 328px );
         -moz-transform: rotateY(  72deg ) translateZ( 328px );
          -ms-transform: rotateY(  72deg ) translateZ( 328px );
           -o-transform: rotateY(  72deg ) translateZ( 328px );
              transform: rotateY(  72deg ) translateZ( 328px );
    }
    #carousel figure:nth-child(3) {
      -webkit-transform: rotateY(  144deg ) translateZ( 328px );
         -moz-transform: rotateY(  144deg ) translateZ( 328px );
          -ms-transform: rotateY(  144deg ) translateZ( 328px );
           -o-transform: rotateY(  144deg ) translateZ( 328px );
              transform: rotateY(  144deg ) translateZ( 328px );
    }
    #carousel figure:nth-child(4) {
      -webkit-transform: rotateY( 216deg ) translateZ( 328px );
         -moz-transform: rotateY( 216deg ) translateZ( 328px );
          -ms-transform: rotateY( 216deg ) translateZ( 328px );
           -o-transform: rotateY( 216deg ) translateZ( 328px );
              transform: rotateY( 216deg ) translateZ( 328px );
    }
    #carousel figure:nth-child(5) {
      -webkit-transform: rotateY( 288deg ) translateZ( 328px );
         -moz-transform: rotateY( 288deg ) translateZ( 328px );
          -ms-transform: rotateY( 288deg ) translateZ( 328px );
           -o-transform: rotateY( 288deg ) translateZ( 328px );
              transform: rotateY( 288deg ) translateZ( 328px );
    }

    .description-circle {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-color: #333;
      background-size: 100%;
      box-shadow: 5px 5px 3px black;
      border: 1px solid black;
      float: right;
      margin-right: 20px;
    }



    @media all and (max-width: 650px) and (min-width: 350px){
      .description-circle{
        display:none;
      }
      .carousel-container {
        width: 290px;
        height: 240px;
        margin-bottom: 40px;
      }

      #carousel {
        -webkit-transform: translateZ( -190px );
           -moz-transform: translateZ( -190px );
            -ms-transform: translateZ( -190px );
             -o-transform: translateZ( -190px );
                transform: translateZ( -190px );
      }

      #carousel figure {

        width: 276px;
        height: 235px;
        left: 5px;
        top:5px;

      }

      #carousel figure p {
        top:0px;
        font-size:0.6em;
      }

      #carousel figure p span {
        font-size: 2em;
        font-weight: bold;
        margin-right: 10px;
        text-align: left;
      }

      #carousel figure:nth-child(1) {
        -webkit-transform: rotateY(   0deg ) translateZ( 190px );
           -moz-transform: rotateY(   0deg ) translateZ( 190px );
            -ms-transform: rotateY(   0deg ) translateZ( 190px );
             -o-transform: rotateY(   0deg ) translateZ( 190px );
                transform: rotateY(   0deg ) translateZ( 190px );
      }
      #carousel figure:nth-child(2) {
        -webkit-transform: rotateY(  72deg ) translateZ( 190px );
           -moz-transform: rotateY(  72deg ) translateZ( 190px );
            -ms-transform: rotateY(  72deg ) translateZ( 190px );
             -o-transform: rotateY(  72deg ) translateZ( 190px );
                transform: rotateY(  72deg ) translateZ( 190px );
      }
      #carousel figure:nth-child(3) {
        -webkit-transform: rotateY(  144deg ) translateZ( 190px );
           -moz-transform: rotateY(  144deg ) translateZ( 190px );
            -ms-transform: rotateY(  144deg ) translateZ( 190px );
             -o-transform: rotateY(  144deg ) translateZ( 190px );
                transform: rotateY(  144deg ) translateZ( 190px );
      }
      #carousel figure:nth-child(4) {
        -webkit-transform: rotateY( 216deg ) translateZ( 190px );
           -moz-transform: rotateY( 216deg ) translateZ( 190px );
            -ms-transform: rotateY( 216deg ) translateZ( 190px );
             -o-transform: rotateY( 216deg ) translateZ( 190px );
                transform: rotateY( 216deg ) translateZ( 190px );
      }
      #carousel figure:nth-child(5) {
        -webkit-transform: rotateY( 288deg ) translateZ( 190px );
           -moz-transform: rotateY( 288deg ) translateZ( 190px );
            -ms-transform: rotateY( 288deg ) translateZ( 190px );
             -o-transform: rotateY( 288deg ) translateZ( 190px );
                transform: rotateY( 288deg ) translateZ( 190px );
      }
    
    }
    @media all and (max-width: 349px) and (min-width: 50px){
      .description-circle{
        display: none;
      }
      .carousel-container {
        width: 230px;
        height: 225px;
        margin-bottom: 15px;
      }

      #carousel {
        -webkit-transform: translateZ( -154px );
           -moz-transform: translateZ( -154px );
            -ms-transform: translateZ( -154px );
             -o-transform: translateZ( -154px );
                transform: translateZ( -154px );
      }

      #carousel figure {

        width: 224px;
        height: 220px;
        line-height: 14px;
        left:5px;
        top: 5px;

      }

      #carousel figure p {
        top:0px;
        font-size:0.6em;
      }

      #carousel figure p span {
        font-size: 1.2em;
      }

      #carousel figure:nth-child(1) {
        -webkit-transform: rotateY(   0deg ) translateZ( 154px );
           -moz-transform: rotateY(   0deg ) translateZ( 154px );
            -ms-transform: rotateY(   0deg ) translateZ( 154px );
             -o-transform: rotateY(   0deg ) translateZ( 154px );
                transform: rotateY(   0deg ) translateZ( 154px );
      }
      #carousel figure:nth-child(2) {
        -webkit-transform: rotateY(  72deg ) translateZ( 154px );
           -moz-transform: rotateY(  72deg ) translateZ( 154px );
            -ms-transform: rotateY(  72deg ) translateZ( 154px );
             -o-transform: rotateY(  72deg ) translateZ( 154px );
                transform: rotateY(  72deg ) translateZ( 154px );
      }
      #carousel figure:nth-child(3) {
        -webkit-transform: rotateY(  144deg ) translateZ( 154px );
           -moz-transform: rotateY(  144deg ) translateZ( 154px );
            -ms-transform: rotateY(  144deg ) translateZ( 154px );
             -o-transform: rotateY(  144deg ) translateZ( 154px );
                transform: rotateY(  144deg ) translateZ( 154px );
      }
      #carousel figure:nth-child(4) {
        -webkit-transform: rotateY( 216deg ) translateZ( 154px );
           -moz-transform: rotateY( 216deg ) translateZ( 154px );
            -ms-transform: rotateY( 216deg ) translateZ( 154px );
             -o-transform: rotateY( 216deg ) translateZ( 154px );
                transform: rotateY( 216deg ) translateZ( 154px );
      }
      #carousel figure:nth-child(5) {
        -webkit-transform: rotateY( 288deg ) translateZ( 154px );
           -moz-transform: rotateY( 288deg ) translateZ( 154px );
            -ms-transform: rotateY( 288deg ) translateZ( 154px );
             -o-transform: rotateY( 288deg ) translateZ( 154px );
                transform: rotateY( 288deg ) translateZ( 154px );
      }
    
    }