/*http://davidwalsh.name/css-cube*/
  /*https://desandro.github.io/3dtransforms/docs/cube.html*/
  @-webkit-keyframes cube-spin {
      from { -webkit-transform: rotateY(0); }
      to { -webkit-transform: rotateY(360deg); }
    }

    @-ms-keyframes cube-spin {
      from { ms-transform: rotateY(0); }
      to { ms-transform: rotateY(360deg); }
    }

    @keyframes cube-spin {
      from { transform: rotateY(0); }
      to { transform: rotateY(360deg); }
    }

    @-webkit-keyframes spin-vertical {
      from { -webkit-transform: rotateX(0); }
      to { -webkit-transform: rotateX(-360deg); }
    }

    @-ms-keyframes spin-vertical {
      from { ms-transform: rotateX(0); }
      to { ms-transform: rotateX(-360deg); }
    }

    @keyframes spin-vertical {
      from { transform: rotateX(0); }
      to { transform: rotateX(-360deg); }
    }

    
    /*************** STANDARD CUBE ***************/
    .cube-wrap {
      -webkit-perspective: 800px;
      -webkit-perspective-origin: 50% 100px;

      -moz-perspective: 800px;
      -moz-perspective-origin: 50% 100px;

      -ms-perspective: 800px;
      -ms-perspective-origin: 50% 100px;

      -o-perspective: 800px;
      -o-perspective-origin: 50% 100px; /*new*/

      perspective: 800px;
      perspective-origin: 50% 100px;

      text-align: center;
      padding: 25px 0 90px 0;
      color: white;
      text-shadow: 2px 2px black;
    }

    .cube {
      position: relative;
      width: 170px;
      max-width:170px;
      margin-left:auto;
      margin-right:auto;
      
      -webkit-transform-style: preserve-3d;
      -webkit-animation: cube-spin 12s infinite linear;
      
      -moz-transform-style: preserve-3d;
      -moz-animation: cube-spin 12s infinite linear;

      -ms-transform-style: preserve-3d;
      -ms-animation: cube-spin 12s infinite linear;

      -o-transform-style: preserve-3d;
      -o-animation: cube-spin 12s infinite linear; /*new*/    

      transform-style: preserve-3d;
      animation: cube-spin 12s infinite linear;

    }

    .cube div {
      position: absolute;
      width: 170px;
      height: 170px;
      background-color: white;
      /*border: 2px solid black;*/
      line-height: 70px;
      background-size: 100%;
    }
  /*************** DEPTH CUBE ***************/
    .depth div.back-pane {
      -webkit-transform: translateZ(-85px) rotateY(180deg);
      -moz-transform: translateZ(-85px) rotateY(180deg);
      -ms-transform: translateZ(-85px) rotateY(180deg);
      -o-transform: translateZ(-85px) rotateY(180deg); /*new*/

      transform: translateZ(-85px) rotateY(180deg);

      background-image: url(../images/lucent.jpeg);
    }
    .depth div.right-pane {
      -webkit-transform:rotateY(-270deg) translateX(85px);
      -webkit-transform-origin: top right;

      -moz-transform:rotateY(-270deg) translateX(85px);
      -moz-transform-origin: top right;

      -ms-transform:rotateY(-270deg) translateX(85px);
      -ms-transform-origin: top right;

      -o-transform:rotateY(-270deg) translateX(85px);
      -o-transform-origin: top right; /*new*/

      transform:rotateY(-270deg) translateX(85px);
      transform-origin: top right;

      background-image: url(../images/hackillinois.jpeg);
    }
    .depth div.left-pane {
      -webkit-transform:rotateY(270deg) translateX(-85px);
      -webkit-transform-origin: center left;

      -moz-transform:rotateY(270deg) translateX(-85px);
      -moz-transform-origin: center left;

      -ms-transform:rotateY(270deg) translateX(-85px);
      -ms-transform-origin: center left;

      -o-transform:rotateY(270deg) translateX(-85px);
      -o-transform-origin: center left; /*new*/

      transform:rotateY(270deg) translateX(-85px);
      transform-origin: center left;

      background-image: url(../images/iwh.jpeg);
    }
    .depth div.top-pane {
      -webkit-transform:rotateX(-90deg) translateY(-85px);
      -webkit-transform-origin: top center;

      -moz-transform:rotateX(-90deg) translateY(-85px);
      -moz-transform-origin: top center;

      -ms-transform:rotateX(-90deg) translateY(-85px);
      -ms-transform-origin: top center;

      -o-transform:rotateX(-90deg) translateY(-85px);
      -o-transform-origin: top center; /*new*/

      transform:rotateX(-90deg) translateY(-85px);
      transform-origin: top center;
    }
    .depth div.bottom-pane {
      -webkit-transform:rotateX(90deg) translateY(85px);
      -webkit-transform-origin: bottom center;

      -moz-transform:rotateX(90deg) translateY(85px);
      -moz-transform-origin: bottom center;

      -ms-transform:rotateX(90deg) translateY(85px);
      -ms-transform-origin: bottom center;

      -o-transform:rotateX(90deg) translateY(85px);
      -o-transform-origin: bottom center; /*new*/

      transform:rotateX(90deg) translateY(85px);
      transform-origin: bottom center;
    }
    .depth div.front-pane {
      -webkit-transform: translateZ(85px);
      -moz-transform: translateZ(85px);
      -ms-transform: translateZ(85px);
      -o-transform: translateZ(85px); /*new*/

      transform: translateZ(85px);

      background-image: url(../images/treehacks.jpeg);
    }

    /* iPhone 4 and smaller */
    /* Portrait */
    @media all and (max-width: 374px) and (max-height: 567px) {
      .cube{
        width: 120px;
        font-size: 3.5vw;
        line-height: 4px;
      }
      .cube div{
        width: 120px;
        height: 120px;
      }
      .depth div.back-pane {
        -webkit-transform: translateZ(-60px) rotateY(180deg);
        -moz-transform: translateZ(-60px) rotateY(180deg);
        -ms-transform: translateZ(-60px) rotateY(180deg);
        -o-transform: translateZ(-60px) rotateY(180deg);
        transform: translateZ(-60px) rotateY(180deg);
      }
      .depth div.right-pane {
        -webkit-transform:rotateY(-270deg) translateX(60px);
        -moz-transform:rotateY(-270deg) translateX(60px);
        -ms-transform:rotateY(-270deg) translateX(60px);
        -o-transform:rotateY(-270deg) translateX(60px);
        transform:rotateY(-270deg) translateX(60px);
      }
      .depth div.left-pane {
        -webkit-transform:rotateY(270deg) translateX(-60px);
        -moz-transform:rotateY(270deg) translateX(-60px);
        -ms-transform:rotateY(270deg) translateX(-60px);
        -o-transform:rotateY(270deg) translateX(-60px);
        transform:rotateY(270deg) translateX(-60px);
      }
      .depth div.top-pane {
        -webkit-transform:rotateX(-90deg) translateY(-60px);
        -moz-transform:rotateX(-90deg) translateY(-60px);
        -ms-transform:rotateX(-90deg) translateY(-60px);
        -o-transform:rotateX(-90deg) translateY(-60px);
        transform:rotateX(-90deg) translateY(-60px);
      }
      .depth div.bottom-pane {
        -webkit-transform:rotateX(90deg) translateY(60px);
        -moz-transform:rotateX(90deg) translateY(60px);
        -ms-transform:rotateX(90deg) translateY(60px);
        -o-transform:rotateX(90deg) translateY(60px);
        transform:rotateX(90deg) translateY(60px);
      }
      .depth div.front-pane {
        -webkit-transform: translateZ(60px);
        -moz-transform: translateZ(60px);
        -ms-transform: translateZ(60px);
        -o-transform: translateZ(60px);
        transform: translateZ(60px);
      }
    }
    /* iPhone 4 and 5 Landscape */
    @media all and (max-height: 374px) and (max-width: 626px) {
      .cube {
        width: 70px;
        font-size: 2vw;
        line-height: 7px;
      }
      .cube-wrap {
        padding-top:10px;
      }
      .cube div{
        width: 70px;
        height: 70px;
        line-height: 20px;
      }
      .depth div.back-pane {
        -webkit-transform: translateZ(-35px) rotateY(180deg);
        -moz-transform: translateZ(-35px) rotateY(180deg);
        -ms-transform: translateZ(-35px) rotateY(180deg);
        -o-transform: translateZ(-35px) rotateY(180deg);
        transform: translateZ(-35px) rotateY(180deg);
      }
      .depth div.right-pane {
        -webkit-transform:rotateY(-270deg) translateX(35px);
        -moz-transform:rotateY(-270deg) translateX(35px);
        -ms-transform:rotateY(-270deg) translateX(35px);
        -o-transform:rotateY(-270deg) translateX(35px);
        transform:rotateY(-270deg) translateX(35px);
      }
      .depth div.left-pane {
        -webkit-transform:rotateY(270deg) translateX(-35px);
        -moz-transform:rotateY(270deg) translateX(-35px);
        -ms-transform:rotateY(270deg) translateX(-35px);
        -o-transform:rotateY(270deg) translateX(-35px);
        transform:rotateY(270deg) translateX(-35px);
      }
      .depth div.top-pane {
        -webkit-transform:rotateX(-90deg) translateY(-35px);
        -moz-transform:rotateX(-90deg) translateY(-35px);
        -ms-transform:rotateX(-90deg) translateY(-35px);
        -o-transform:rotateX(-90deg) translateY(-35px);
        transform:rotateX(-90deg) translateY(-35px);
      }
      .depth div.bottom-pane {
        -webkit-transform:rotateX(90deg) translateY(35px);
        -moz-transform:rotateX(90deg) translateY(35px);
        -ms-transform:rotateX(90deg) translateY(35px);
        -o-transform:rotateX(90deg) translateY(35px);
        transform:rotateX(90deg) translateY(35px);
      }
      .depth div.front-pane {
        -webkit-transform: translateZ(35px);
        -moz-transform: translateZ(35px);
        -ms-transform: translateZ(35px);
        -o-transform: translateZ(35px);
        transform: translateZ(35px);
      }
    }
    /* iPhone 6/6+ Landscape */
    @media all and (max-height: 550px) {
      .cube {
        width: 100px;
        font-size: 3vh;
        line-height: 7px;
      }
      .cube-wrap {
        padding-top:10px;
      }
      .cube div{
        width: 100px;
        height: 100px;
        line-height: 20px;
      }
      .depth div.back-pane {
        -webkit-transform: translateZ(-50px) rotateY(180deg);
        -moz-transform: translateZ(-50px) rotateY(180deg);
        -ms-transform: translateZ(-50px) rotateY(180deg);
        -o-transform: translateZ(-50px) rotateY(180deg);
        transform: translateZ(-50px) rotateY(180deg);
      }
      .depth div.right-pane {
        -webkit-transform:rotateY(-270deg) translateX(50px);
        -moz-transform:rotateY(-270deg) translateX(50px);
        -ms-transform:rotateY(-270deg) translateX(50px);
        -o-transform:rotateY(-270deg) translateX(50px);
        transform:rotateY(-270deg) translateX(50px);
      }
      .depth div.left-pane {
        -webkit-transform:rotateY(270deg) translateX(-50px);
        -moz-transform:rotateY(270deg) translateX(-50px);
        -ms-transform:rotateY(270deg) translateX(-50px);
        -o-transform:rotateY(270deg) translateX(-50px);
        transform:rotateY(270deg) translateX(-50px);
      }
      .depth div.top-pane {
        -webkit-transform:rotateX(-90deg) translateY(-50px);
        -moz-transform:rotateX(-90deg) translateY(-50px);
        -ms-transform:rotateX(-90deg) translateY(-50px);
        -o-transform:rotateX(-90deg) translateY(-50px);
        transform:rotateX(-90deg) translateY(-50px);
      }
      .depth div.bottom-pane {
        -webkit-transform:rotateX(90deg) translateY(50px);
        -moz-transform:rotateX(90deg) translateY(50px);
        -ms-transform:rotateX(90deg) translateY(50px);
        -o-transform:rotateX(90deg) translateY(50px);
        transform:rotateX(90deg) translateY(50px);
      }
      .depth div.front-pane {
        -webkit-transform: translateZ(50px);
        -moz-transform: translateZ(50px);
        -ms-transform: translateZ(50px);
        -o-transform: translateZ(50px);
        transform: translateZ(50px);
      }
    }
