body {
  background: url(images/chicago.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color:white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  color:gray;
}

.navbar-brand > img {
  height:100%;
}
/* navbar */
.navbar-default {
    background: transparent;
    border: none;
}
/* title */
.navbar-default .navbar-brand {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #CCCCCC; /* for IE */
    color: rgba(204,204,204,.75);
    border-bottom: 2px solid transparent;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CCCCCC; /* for IE */
    color: rgba(204,204,204,.75);
    border-bottom-color: #CCCCCC;
    border-bottom-color: rgba(204,204,204,.75);
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white; /* for IE */
    color: rgb(255,255,255);
    border-bottom-color: white;
    border-bottom-color: rgb(255,255,255);
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: none;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: none;
    border-bottom-color: none;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: none;
    border-bottom-color: none;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: none;
    border-bottom-color: none;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    color: white;
    background-color: rgba(255,255,255,.75);

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: none;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #CCCCCC; /* for IE */
        color: rgba(204,204,204,.75);

    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white; /* for IE */
        color: rgba(255,255,255,.75);
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #CCCCCC; /* for IE */
        color: rgba(204,204,204,.75);
    }
}



  .circle-portrait {
    width: 12vw;
    height: 12vw;
    border-radius:6vw;
    background-color: #333;
    background-size: 100%;
    box-shadow: 5px 5px 3px black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align:center;
    color: white;
    text-shadow: 0 2px 3px rgba(0,0,0,.5);
    font-family: Raleway;
    letter-spacing: 0.5vw;
    font-size: 3vw;
  }
  /* iPhone 4 and smaller */
  /* Portrait */
  @media all and (max-width: 374px) and (max-height: 567px) {
    .circle-portrait {
      width: 35vw;
      height: 35vw;
      border-radius: 17.5vw;
    }
    h1 {
      font-size: 8.5vw;
    }
  }
  /* Landscape */
  @media all and (max-height: 374px) and (max-width: 567px) {
    .circle-portrait {
      width: 30vh;
      height: 30vh;
      border-radius: 15vh;
    }
    h1 {
      font-size: 8vh;
    }
  }
  /* iPhone 5 and smaller */
  /* Portrait */
  @media all and (max-width: 413px) and (max-height: 735px) {
    .circle-portrait {
      width: 40vw;
      height: 40vw;
      border-radius: 20vw;
    }
    h1 {
      font-size: 9vw;
    }
  }
  /* Landscape */
  @media all and (max-height: 413px) and (max-width: 735px) {
    .circle-portrait {
      width: 30vh;
      height: 30vh;
      border-radius: 15vh;
    }
    h1 {
      font-size: 8vh;
    }
  }
  //* iPhone 5 and smaller */
  /* Portrait */
  @media all and (max-width: 413px) and (max-height: 735px) {
    .circle-portrait {
      width: 40vw;
      height: 40vw;
      border-radius: 20vw;
    }
    h1 {
      font-size: 9vw;
    }
  }
  /* Landscape */
  @media all and (max-height: 413px) and (max-width: 735px) {
    .circle-portrait {
      width: 30vh;
      height: 30vh;
      border-radius: 15vh;
    }
    h1 {
      font-size: 8vh;
    }
  }
  /* iPhone 6+ smaller */
  /* Portrait */
  @media all and (max-width: 500px) and (max-height: 900px) {
    .circle-portrait {
      width: 40vw;
      height: 40vw;
      border-radius: 20vw;
    }
    h1 {
      font-size: 9vw;
    }
    .navbar-default .navbar-brand {
        font-size: 5vw;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 5vw;
    }
  }
  /* Landscape */
  @media all and (max-height: 500px) and (max-width: 900px) {
    .circle-portrait {
      width: 30vh;
      height: 30vh;
      border-radius: 15vh;
    }
    h1 {
      font-size: 8vh;
    }
  }
  @media all and (min-width: 500px) and (max-width: 1300px) {
    .circle-portrait {
      width: 30vh;
      height: 30vh;
      border-radius: 15vh;
    }
    h1 {
      font-size: 8vh;
    }
  }